{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link hred="styles.css" rel="stylesheet" type="text/css">
    <style>
        body {
            background-color: rgb(56, 104, 150)
        }
    </style>
    <title>Homepage</title>
</head>

<body >
    <div style="margin-top: 5%; margin-left: 40%; border:3px; padding:10px; background-color:white; position:absolute; width:300px; text-align:center; height:auto; outline-color:black; outline-style:solid;
    " >
     Welcome to the Protein Sequencing page.
    This project developed by Team 5 is design to create an easy and navigable interface for users seeking to find a complete protein sequence.
    Using FASTA protein scaffolds format, enter an incomplete protein scaffold in the input, and a complete protein scaffold will be returned.
    This is done in the background using a Knn model that is tuned, tweaked, and maintained by Team 5. </div>

    <!-- Temporary dropdown menu for scaffolds -->
    <div style="margin-top: 20%; margin-left: 26.5%; margin-bottom: 10%; position:absolute;">
        Select Model<select style="width: 250px;">
            <option value=""></option>
            <option value="Scaffold1">Scaffold 1</option>
            <option value="Scaffold2">Scaffold 2</option>
            <option value="Scaffold3">Scaffold 3</option>
            <option value="Scaffold4">Scaffold 4</option>
        </select>
        <br>
    </div>

    <div style="margin-left: 20%; position:absolute; margin-top: 22%">
        <br>
        <label>Incomplete Protein Scaffold: </label>
        <!-- Temporary text field for incomplete protein scaffolds -->
        <input type="text" style="padding: auto; width: 250px;">
    </div>
    <div style="margin-left: 20%; position:absolute; margin-top: 24%">
        <br>
        <label>Completed Protein Scaffold: </label>
        <!-- Temporary text field for incomplete protein scaffolds -->
        <input type="text" style="padding: auto; width: 250px;">
        <br>
        <p>Output Accuracy:</p>
        <input type="text" style="width: 250px;">
        <br>
        <p>TrainingSequence:</p>
        <input type="text" style="padding: auto; width: 250px;">
    </div>
    
</body>
</html>
