{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Scaffold Filler</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.forms{
  height:150px;
  width:300px;
  text-align: center;
  font-size: 20px;
  padding: 12 px 20px;
  margin: 0 auto;
  }

.result {
    text-align: center;
    font-size: 20px;
    padding: 12 px 20px;
    margin: 0 auto;

  }

  #submit {
    border-radius: 10px;
  }

.intro{
    text-align: center;
  }


</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="{% url 'infopage' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Information Page</a>
    <a href= "{%url 'log_out' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
    <a href="{% url 'delete_account' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" onclick="return confirm('Delete account?');">Delete Account</a>

  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{% url 'infopage' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Information Page</a>
    <a href="{% url 'log_out' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</a>
    <a href= "{%url 'delete_account' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" onclick="return confirm('Delete account?');">Delete Account</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Protein Scaffold Filler</h1>
  <p class="w3-xlarge">A Senior Project</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Hello {{user}}</h1>
        <p class="w3-text-grey">This project, developed by Team 5, is designed to create an easy and navigable interface for users seeking to find a complete protein sequence.</p>
        <p class="w3-text-grey">Using FASTA protein scaffolds format, enter an incomplete protein scaffold in the input, and a complete protein scaffold will be returned.</p>
        <p class="w3-text-grey">This is done in the background using a KNN model that is tuned, tweaked, and maintained by Team 5.</p>
 
      <p class="w3-text-grey">A final project made by student of Computer Science at North Carolina Agricultural and Technical State University. </p>
    </div>

    <div class="w3-third">
      <img src="{% static 'scaffold.jpg' %}" alt="Protein Scaffold" style="width:300px; border-radius: 6px; margin-left:10px; object-fit: cover;">
    </div>


  </div>
</div>


<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="forms">
      <form method="POST" action="{% url 'home' %}">
          {% csrf_token %}
          <label for="incomplete-scaffold">Incomplete Protein Scaffold:</label> <br>
          <input type="text" class="text_input" name="scaffold" required> <br>
          <input type="submit" value="Submit" id="submit">
      </form>
    </div>
    
    <div class="result">
      {% if prediction %}
          <h3>Incomplete Scaffold: {{scaffold}}</h3>
          <h3>Predicted Sequence: {{ prediction }} </h3>
      {% endif %}
      {% if train_accuracy and accurate%}
        <p>Training Accuracy: {{ train_accuracy }}</p>
        <p>Testing Accuracy: {{ accurate }}</p>

    {% endif %}
  </div>
  </div>

<!-- Second Grid -->
<div class="w3-row-padding w3-dark-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-center w3-center">

      <h5 class="w3-padding-32">Testing accuracy is the prediction accuracy. These are the odds that our model correctly classified the missing amino acids in your protein scaffold. </h5>
      <h5 class="w3-padding-32">When using this application, you understand that there is always a small chance incorrectly classified amino acids.</h5>
      <h5 class="w3-padding-32">You may download the history of your inputs and model outputs here:</h5>
      <div class="forms">
      <form method="POST" action="{% url 'history' %}">
        {% csrf_token %} 
        <input type="hidden" name="hist" value="Download">
        <input type="submit" value="Download">
      </form>
      <h5 class="w3-padding-32">Or clear your history: </h5>
        <form method="POST" action="{% url 'history' %}">
          {% csrf_token %} 
          <input type="hidden" name="hist" value="Clear">
          <input type="submit" value="Clear">
      </form>
    </div>



  </div>
</div>

</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">For educational/personal use</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  

 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
