{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../static/styles.css" type="text/css" rel="stylesheet">
		<title>Information Page</title>
		<style>
			h1 {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h1>Information Page</h1>
		<h2>About the Product</h2>
		<p>
			The product is developed by the members of Team 5 for COMP 496: Senior Project II. This product 
			uses an AI, KNN model for protein scaffolding.
		</p>
		<h2>What the model does, and how does it work?</h2>
		<p>
			The model takes an incomplete scaffold, fills in the scaffold gaps, and outputs the complete scaffold 
			and training data.
		</p>
		<h2>How to use this product?</h2>
		<ol>
			<li>Select a scaffold from the dropdown menu.</li>
			<li>Input the incomplete scaffold in the textbox.</li>
			<li>Press enter</li>
			<!-- No submit button yet -->
			<!--<li>Click submit.</li>-->
		</ol>
		<h2>What are protein scaffolds?</h2>
		<p>Protein scaffolds are molecules of protein that binds to other protein.</p>
		<h2>Which database is used for the product?</h2>
		<p>The database used for the product is MySQL.</p>
		<button><a href="home.html">Homepage</a></button>
	</body>
</html>