{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>Information Page</title>
		<style>
			body,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif, text-align: center;}
			
		</style>
	</head>
	
	
	<div class="w3-top">
		<div class="w3-bar w3-red w3-card w3-left-align w3-large">
		  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
		  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">About</a>
		  <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" name = "home_button">Home</button>
		  <a href="{% url 'loginpage' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" name = "login_button">Login</a>
	  
		</div>
	  
		<!-- Navbar on small screens -->
		<div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
		  <a href="home.html" class="w3-bar-item w3-button w3-padding-large" name = "home_button">Home</a>
		  <a href="loginpage.html" class="w3-bar-item w3-button w3-padding-large"name = "login_button">Login</a>
		</div>
	  </div>
	
	<header class="w3-container w3-red w3-center" style="padding:80px 16px">
		<h1 class="w3-margin w3-jumbo">Information Page</h1>
	</header>
	<div class = "w3-row-padding w3-padding-64 w3-container">
		<div class="w3-content">
			<h2>About the Product</h2>
		<p>
			The web application is developed by the members of Team 5 for COMP 496: Senior Project II. This product uses an AI model with a K Nearest-Neighbor algorithm. This locally hosted website was created using Django, CSS, HTML, and SQLite3. 
		</p>
		<br>
		<h2>Vision</h2>
		<p>
			The product's vision is to create an informative introduction to working with models that predict 
			complete protein scaffolds from incomplete protein scaffolds by using a clean and detailed 
			interface.
		</p>
		<br>
		<h2 class =>How does the model work?</h2>
		<p>
			The model uses the k-nearest neighbor (KNN) algorithm to take an incomplete scaffold, fill in the 
			scaffold gaps, and output the complete scaffold and training data.
		</p>
		<br>
		<h2>What is the purpose of the model?</h2>
		<p>
			The purpose of the model is to predict and complete protein sequences that are only partially known to researchers.
<br>There has been ample current work on the subject:
		</p>
		<br>
		<h2>How to use this product?</h2>
		<ul>
			<li>Follow the README instructions for setup
            <li>Enter the incomplete scaffold in the textbox.</li>
			<li>Click the submit button.</li>
			<li>
				The complete scaffold, output accuracy, and training sequence will be displayed to the corresponding textfield.
			</li>
		</ul>
		<h2 >Read More:</h2>
		<a href="https://link.springer.com/chapter/10.1007/978-981-99-7074-2_42" target="_blank"> A Convolutional Denoising Autoencoder for Protein Scaffold Filling</a> <br>
        <a href="https://ieeexplore.ieee.org/document/10098062" target="_blank"> Deep Learning Approaches for the Protein Scaffold Filling Problem</a>

	</div>
	</body>
</html>
